#DEBUG = False
SECRET_KEY = '1bfd6212b728b7f98c7ce989e79e9c92cb49893e'

# The back-end should be ready to accept requests at this URL. Note: no https.
BACKEND_URL = "http://ecotaxaback:8000"
# For populating the link to EcoTaxoServer (Browse Taxonomy menu)
TAXOSERVER_URL = "http://ecotaxoserver.obs-vlfr.fr"
# For populating the link & menu to EcoPart (Home page)
ECOPART_URL = "http://localhost:5002"

# If you want to enable Google analytics tracking
# GOOGLE_ANALYTICS_ID="UA-XXXXXXX-1"

# If you want to enable reCaptcha for user creation
# Note: Below values are for testing,
# see https://developers.google.com/recaptcha/docs/faq#id-like-to-run-automated-tests-with-recaptcha.-what-should-i-do
#RECAPTCHAID = "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
APP_GUI_MESSAGE_FILE = "config/messages.json"
APP_GUI_MESSAGE_COOKIE_NAME = "ecotaxa_userinfo"
# shared key for mailservice Token (must match MAILSERVICE_SECRET_KEY in back_config.ini)
MAILSERVICE_SECRET_KEY = "cfda1bf23461c8a772c18285a674be354d78e66d"
MAILSERVICE_SALT = "3655c31baa955d10"
# for UI bg_scale bacground-image suffix - type always jpg
BG_SCALE = '_jpg95'
